@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


.col .row {
    margin-left: 0px;
    margin-right: 0px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.register-bg-image {
    flex: 1;
}

.icons {
    color: #3ca542;
}

.btn {
    background-color: #a8d277;
    color: black;
}

.nav-headings {
    background-color: #3ca542;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    margin-left: 10px;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    float: none;
}

.side-nav {
    color: #3ca542;
}

.content-styles {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}

.flashes h4 {
    line-height: 2;
}

/*------Footer------*/
.page-footer {
    background-color: #3ca542;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 0px;
}

.footer-row {
    margin-bottom: 0px;
}

.social-links {
    color: white;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-links li a {
    margin: 30px;
    font-size: 40px;
}

.social-links li a {
    color: white;
}

.social-links i:hover {
    color: black;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*-------Register page -----------*/

.register-login {
    color: #3ca542;
}

.buttons {
    background-color: #3ca542;
    color: black;
}

.headings {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    font-size: 3rem;
    font-weight: 400;
}

.register-bg-image {
    background-image: url(/static/images/register-bg-image.jpg);
    background-size: cover;
    overflow-x: hidden;
}



.card-panel {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.03);
}

#confirm-password-error {
    color: red;
}

/*------ Card styling--------*/
.card-image {
    overflow: hidden;
}

.card .card-image img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 2s ease;
    transition: -webkit-transform 2s ease;
    -o-transition: transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

.card-icons {
    float: left;
    width: 4rem;
    font-size: 1.7rem;
    top: .5rem;
    margin: 11px;
}

.card-content {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 150;
    letter-spacing: 1.5px;
    padding: 10px;
}

.card-title {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 150;
    letter-spacing: 1.5px;
    height: 45px;
}

.full-recipe-btn {
    margin: 5px;
}

.list-style {
    margin-bottom: 1em;
}

/*-----Home page----*/

.carousel.carousel-slider .carousel-item h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 34px;
    line-height: 32px;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    margin-left: 25px;
}


.carousel.carousel-slider .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

.cookbook-image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 0px;
    border-radius: 50%;
    object-fit: cover;
}

.home-text-left {
    text-align: left;
}

.home-headings {
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 3.2px;
}

.cta-button {
    margin: -30px;
}