{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="row home-headings">
    <h3 class="center-align">
        All recipes
    </h3>
</div>
<br>
<div class="row search">
    <div class="col s12">
        <form action="{{ url_for('get_recipe') }}" method="post">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <i class="fas fa-search prefix icons"></i>
                    <input type="text" name="query" id="query" class="validate">
                    <label for="query" class="search-label">Search Recipies</label>
                </div>
                <div class="input-field col 6 offset-s3">
                    <i class="fas fa-utensils prefix icons"></i>
                    <select id="category_search" name="category_search" class="validate">
                        <option value="Choose your meal" disabled selected>Choose your meal type</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col s12 offset-s3">
                        <a href="{{ url_for('get_recipe') }}" class="btn text-shadow search-button-reset">Reset</a>
                        <button type="submit" class="btn text-shadow search-button-search">
                            <i class="fas fa-search prefix"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 l6 xl4">
        <div class="card">
            <div class="row card-image center-align">
                <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
            </div>
            <div class="row">
                <h3 class="card-title center-align">{{ recipe.recipe_name }}</h3>
            </div>
            {% if session.user %}
            <div class="save">
                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id)}}">
                    <button class="waves-effect waves-light btn-large save-recipe-button" aria-label="save-recipe">
                        <i class="far fa-heart icons save-recipe-icon"></i></a>
                    </button>
                </form>
            </div>
            {% endif %}
            <div class="row">
                <div class="card-content">
                    <i class="fas fa-users prefix icons card-icons"></i>
                    <p>Servings: {{ recipe.servings }}</p>
                </div>
                <div class="card-content">
                    <i class="far fa-hourglass prefix icons card-icons"></i>
                    <p>Cook Time: {{ recipe.cook_time }}</p>
                </div>
                <div class="card-content">
                    <i class="fas fa-tachometer-alt prefix icons card-icons"></i>
                    <p>Difficulty: {{ recipe.difficulty }}</p>
                </div>
                <div class="row center-align">
                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn full-recipe-btn">See full
                        recipe</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}