{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="row">
    <h3>
        All recipes
    </h3>
</div>
<br>
<div class="row card-panel">
    <div class="col s12 l4 right">
        <form action="{{ url_for('search') }}" method="post">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" class="validate" required>
                    <label for="query" class="search-label">Search Recipies</label>
                </div>
                <div class="col s12">
                    <a href="{{ url_for('get_recipe') }}" class="red btn text-shadow search-buttons">Reset</a>
                    <button type="submit" class="btn text-shadow search-buttons">
                        <i class="fas fa-search prefix"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4">
        <div class="card">
            <div class="row card-image center-align">
                <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
                <a class="btn-floating halfway-fab red"><i class="far fa-heart"></i></a>
            </div>
            <div class="row">
                <h3 class="card-title center-align">{{ recipe.recipe_name }}</h3>
            </div>
            <div class="row">
                <div class="card-content">
                    <i class="fas fa-users prefix icons card-icons"></i>
                    <p>Servings: {{ recipe.servings }}</p>
                </div>
                <div class="card-content">
                    <i class="far fa-hourglass prefix icons card-icons"></i>
                    <p>Cook Time: {{ recipe.cook_time }}</p>
                </div>
                <div class="card-content">
                    <i class="fas fa-tachometer-alt prefix icons card-icons"></i>
                    <p>Difficulty: {{ recipe.difficulty }}</p>
                </div>
                <div class="row center-align">
                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn full-recipe-btn">See full
                        recipe</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}