{% extends "base.html" %}
{% block content %}

<!-----Featured Carosel----->
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
</div>

<!----About us------>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m6 right">
            <h4 class="home-headings">Ex Planta</h4>
            <br>
            <p class="home-text-right">Ex Planta is all about sharing approachable vegan recipes that are healthy and
                easy
                to make with whole food plant based ingredients. Whether you’re new to vegan cuisine or just looking for
                inspiration, here you’ll find something for everyone!</p>
        </div>
        <div class="col s12 m6 center-align">
            <img class="cookbook-image"
                src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmVnYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                alt="breakfast image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col s12 m6 right-align">
            <h4 class="home-headings">Vegan on a budget</h4>
            <br>
            <p class="home-text-left">The latest in the One Pound Meals book series is all about easy plant-based meals
                that cost £1
                or less per head to make using supermarket ingredients. From sticky peanut butter tofu to creamy
                cauliflower tagliatelle, this book is full of clever ideas for everyday cooking on a budget.
            </p>
            <br>
            <div class="row cta-button">
                <a href="https://www.amazon.com/" target="_blank"
                    class="waves-effect waves-light btn-small right">Available Here</a>
            </div>
        </div>
        <div class="col s12 m6 center-align">
            <img class="cookbook-image"
                src="https://th.bing.com/th/id/OIP.-qAsovUrTioeIxaJYHEL4gHaGO?w=200&h=168&c=7&r=0&o=5&pid=1.7"
                alt="Cook book image">
        </div>
    </div>
</div>

<!-----Sample recipes------->

<div class="home-headings center-align">
    <h4>Whats New ?</h4>
</div>
<br>
<div class="row">
    {% for recipe in recipes %}
    {% if loop.index <= 3 %}
    <div class="col s12 m4">
        <div class="card">
            <div class="row card-image center-align">
                <img src="{{recipe.recipe_image}}" alt="{{recipe.title}}">
                <a class="btn-floating halfway-fab red"><i class="far fa-heart"></i></a>
            </div>
            <div class="row">
                <h3 class="card-title center-align">{{ recipe.recipe_name }}</h3>
            </div>
            <div class="row">
                <div class="card-content">
                    <i class="fas fa-users prefix icons"></i>
                    <p>Servings: {{ recipe.servings }}</p>
                </div>
                <div class="card-content">
                    <i class="far fa-hourglass prefix icons"></i>
                    <p>Cook Time: {{ recipe.cook_time }}</p>
                </div>
            </div>
            <div class="row center-align">
                <i class="fas fa-tachometer-alt prefix icons"></i>
                <p>Difficulty: {{ recipe.difficulty }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% for recipe in recipe %}
{{ recipe.recipe_name }}<br>
{% endfor %}

{% endblock %}