{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--Profile Card -->
    <div class="row card">
        <div class="col s12">
            <h4 class="center capitalize">{{ username }}'s Profile</h4>
            <hr class="headings-underline center">
            <table class="left centered profile-table">
                <tr>
                    <td><i class="fas fa-user-cog icons"></i></td>
                    <td>Username:</td>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-utensils icons"></i></td>
                    <td>Recipes Created: </td>
                    <td>{{ recipes|length }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-save icons"></i></td>
                    <td>Recipes Saved:</td>
                    <td>{{ saved_recipes|length }}</td>
                </tr>
            </table>
            <div class="center">
                <a data-delete-message="Are you sure you want to delete {{ username }}'s profile?"
                    data-delete-url="{{ url_for('remove_profile') }}" class="waves-effect waves-light btn-small right delete-button delete
                                modal-trigger" href="#deleteModal">Delete
                    Profile</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h4 class="home-headings">{{ username }}'s recipes</h4>
        </div>
    </div>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m4">
            <div class="card">
                <div class="row card-image center-align">
                    <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
                    <a class="btn-floating halfway-fab red"><i class="far fa-heart"></i></a>
                </div>
                <div class="row">
                    <h3 class="card-title center-align">{{ recipe.recipe_name }}</h3>
                </div>
                <div class="row">
                    <div class="card-content">
                        <i class="fas fa-users prefix icons card-icons"></i>
                        <p>Servings: {{ recipe.servings }}</p>
                    </div>
                    <div class="card-content">
                        <i class="far fa-hourglass prefix icons card-icons"></i>
                        <p>Cook Time: {{ recipe.cook_time }}</p>
                    </div>
                    <div class="card-content">
                        <i class="fas fa-tachometer-alt prefix icons card-icons"></i>
                        <p>Difficulty: {{ recipe.difficulty }}</p>
                    </div>
                    <div class="row center-align">
                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn full-recipe-btn">See
                            full
                            recipe</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <div class="row right-align">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="waves-effect waves-light btn-small right">Edit Recipe</a>
                            <a data-delete-message="Are you sure you want to delete {{ recipe.recipe_name }}?"
                                data-delete-url="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small right delete-button delete
                                modal-trigger" href="#deleteModal">Delete Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col s12 center">
            <div class="row right-align">
                <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn-small right">Upload a
                    recipe</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h4 class="home-headings">{{ username }}'s saved recipes</h4>
        </div>
    </div>

    {% if saved_recipes|length == 0 %}
    <div>you have no saved recipes, save a recipe to get started</div>
    {% endif %}

    <div class="row">
        {% for saved_recipe in saved_recipes %}
        <div class="col s12 m4">
            <div class="card">
                <div class="row card-image center-align">
                    <img src="{{saved_recipe.recipe_image}}" alt="{{saved_recipe.recipe_name}}">
                    <a class="btn-floating halfway-fab red"><i class="far fa-heart"></i></a>
                </div>
                <div class="row">
                    <h3 class="card-title center-align">{{ saved_recipe.recipe_name }}</h3>
                </div>
                <div class="row">
                    <div class="card-content">
                        <i class="fas fa-users prefix icons card-icons"></i>
                        <p>Servings: {{ saved_recipe.servings }}</p>
                    </div>
                    <div class="card-content">
                        <i class="far fa-hourglass prefix icons card-icons"></i>
                        <p>Cook Time: {{ saved_recipe.cook_time }}</p>
                    </div>
                    <div class="card-content">
                        <i class="fas fa-tachometer-alt prefix icons card-icons"></i>
                        <p>Difficulty: {{ saved_recipe.difficulty }}</p>
                    </div>
                    <div class="row center-align">
                        <a href="{{ url_for('full_recipe', recipe_id=saved_recipe._id) }}"
                            class="btn full-recipe-btn">See
                            full
                            recipe</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <div class="row right-align">
                            <a data-delete-message="Are you sure you want to delete {{ saved_recipe.recipe_name }} from saved recipes?"
                                data-delete-url="{{ url_for('delete_saved_recipe', recipe_id=saved_recipe._id) }}"
                                class="waves-effect waves-light btn-small right delete-button delete
                                modal-trigger" href="#deleteModal">Delete Saved Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal Structure -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Delete</h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            <a class="modal-close waves-effect waves-green btn-flat" id="delete-confirm">Continue</button>
        </div>
    </div>





    {% endblock %}